/* top to bottem-----lower parts to inner parts */

body{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10em;
  margin-right: 10em;
}
header h2{
  display: inline;
    display: inline;
    font-size: 20px;
    font-family: cursive;
}
